.preview-container {
  padding: 1rem 0.5rem;
  display: flex;
}

.preview-container:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.preview-title {
  color: #000;
  font-size: 20px;
  padding: 0;
}

.preview-time {
  float: left;
  font-weight: bold;
}

.preview-rating {
  flex-direction: row;
  margin: 2px 0 2px 0;
}

.preview-rating p {
  display: inline;
  font-size: 14px;
  margin-left: 5px;
}

.preview-middle {
  margin-left: 10%;
}

.preview-middle h3:first-child {
  margin-bottom: 10px;
}

.preview-middle p {
  margin-top: 10px;
}

.preview-right {
  margin-left: 20%;
  align-self: flex-start;
  justify-content: flex-end;
  cursor: pointer;
}

.preview-right p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}

.preview-right p:nth-child(2) {
  font-size: 14px;
}

.preview-right p:nth-child(3) {
  float: right;
}

.preview-arrow-right {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.preview-img-column {
  margin: 20px 0 0 10px;
  cursor: pointer;
}
