/* General styles */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'miller-banner', serif;
  src: url('./fonts/miller-banner-light.otf'); /* IE9 Compat Modes */
}

body {
  margin: auto;
  padding: 0;
  font-family: 'miller-banner', serif;
  font-style: normal;
  font-weight: 300;
  max-width: 375px;
}

p {
  font-size: 18px;
}

p, h2, h3 {
  margin: 0;
}

h2 {
  font-size: 21px;
}

h1 {
  font-size: 32px;
}


nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav h2 {
  font-weight: 100;
  padding: 16px 65px 17px 65px;
}

a {
  color: #000;
  text-decoration: none;
}

/* ListView styles */


.listview-category {
  /* border: 1px solid #ccc; */
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.listview-back {
  padding: 20px 0 0 10px;
}

.listview-title {
  display: inline-block;
  font-weight: lighter;
  padding-left: 40%;
}

.listview-line {
  padding: 30px 0 20px 0;
}

.listview-category:after {
  content: url("./assets/down.png");
  float: right;
  position: absolute;
  left: 61%;
  cursor: pointer;
  padding: 20px 0 20px 0;
}

.listview-category select {
  cursor: pointer;
  font-family: 'miller-banner', serif;
  font-size: 18px;
  padding: 20px 0 20px 10px;
  width: 100%;
  border-top: 2px solid #B69F58;
  border-bottom: 1px solid #B69F58;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.listview-header {
  padding: 10px 0 0 0;
  height: auto;
  width: 100%;
}


/* SalonPreview styles */

.preview-title {
  color: #000;
  font-size: 20px;
  padding: 0;
}

.preview-container {
  margin: 30px 0 20px 10px;
  display: flex;
}

.preview-time {
  float: left;
  font-weight: bold;
}

.preview-rating {
  flex-direction: row;
  margin: 2px 0 2px 0;
}

.preview-rating p {
  display: inline;
  font-size: 14px;
  margin-left: 5px;
}

.preview-middle {
  margin-left: 10%;
}

.preview-middle h3:first-child {
  margin-bottom: 10px;
}

.preview-middle p {
  margin-top: 10px;
}

.preview-right {
  margin-left: 20%;
  align-self: flex-start;
  justify-content: flex-end;
  cursor: pointer;
}

.preview-right p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}

.preview-right p:nth-child(2) {
  font-size: 14px;
}

.preview-right p:nth-child(3) {
  float: right;
}

.preview-arrow-right {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.preview-img-column {
  margin: 20px 0 0 10px;
  cursor: pointer;
}


/* SalonView styles */

.salonview-line {
  height: 2px;
  margin: 0 0 10px 0;
  padding: 0;
}

.salonview {
  margin: auto;
  position: relative;
}

.salonview-text {
  margin: 10px 10px 20px 20px;
}

.salonview-title {
  position: absolute;
  top: 160px;
  left: 20px;
  margin: 0;
  color: #fff;
}

.statusbar {
  position: absolute;
  z-index: 1;
  top: 10px;
  margin: auto;
}

.left {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 10px;
}

.left img {
  height: 25px;
  width: 25px;
}

.heart {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 330px;
}

.rating {
  position: absolute;
  top: 220px;
  left: 20px;
}

.rating p {
  color: #fff;
  float: right;
  margin: 0 0 0 5px;
}

.salonview-address {
  display: flex;
  margin: 20px 0 10px 20px;
}

.salonview-time {
  display: flex;
  margin: 20px 0 0 20px;
}

.salonview-phone {
  display: flex;
  margin: 20px 0 0 20px;
}

.salonview-web  {
  display: flex;
  margin: 20px 0 20px 20px;
}

.salonview-address img {
  width: 10px;
  height: 16px;
  margin-right: 20px;
}

.salonview-time .location {
  width: 10px;
  height: 15px;
  margin-right: 20px;
}

.salonview-time .down {
  height: 6px;
  width: 13px;
  margin: 6px 0 0 20px;
}

.salonview-phone img {
  width: 14px;
  height: 14px;
  margin-right: 20px;
}

.salonview-web {
  cursor: pointer;

}

.salonview-web img {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}

@media (max-width: 620px) {
  body {
    max-width: 100%;
  }
  .listview-category:after {
    left: 85%;
  }
}
